h1.t_nav span { float: right; color: #000; }
h1.t_nav { border-bottom: #bfbfbf 1px solid; font-size: 14px; font-weight: normal; line-height: 40px; width: 100%; overflow: hidden; margin-bottom: 20px }
.n1, .n2 { width: 100px; display: block; text-align: center; float: left; color: #fff; }
.n1 { background:#3FB8AF; }
.pagelist{text-align: -webkit-center}
